/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
node_modules/*
app/assets/components/*
app/config/production/*
app/storage/docs
app/storage/docs/*
app/storage/boxes
app/storage/boxes/*